{{template "shared/base.layout.tmpl" .}}

{{define "title" -}}
  {{- $machineName := .Data.MachineName -}}
  Machine {{$machineName}}
{{- end}}
{{define "description"}}Machine portal{{end}}

{{define "content"}}
  {{$hostname := .Data.Hostname}}
  {{$port := .Data.Port}}
  {{$machineName := .Data.MachineName}}

  <main>
    <section class="section">
      <div class="container content is-max-desktop">
        <h1>Machine {{$machineName}}</h1>
        <article class="message is-info two-card-width">
          <div class="message-body">
            This is the full view of the home page. If it's too overwhelming, you can instead open the
            <a href="{{urlJoin (dict
              "path" .Meta.Path
              "query" (.Meta.Form.Without "mode").Encode
            )}}">simplified view</a> of this page.
          </div>
        </article>

        <p>
          Welcome! This is the home page for your machine with machine name
          <code>{{$machineName}}</code>.
        </p>
        <p>
          Below you can find a list of links to browser applications provided by your machine,
          documentation for operating your machine,
          and other information to help you use your machine.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container content is-max-desktop">
        <h2>Browser applications</h2>
        <ul>
          <li>
            <p>
              {{
                template "shared/link.partial.tmpl" dict
                "Href" "/imswitch/ui/index.html"
                "Name" "ImSwitch"
                "Description" "The standard user interface to operate the microscope"
              }}
            </p>
            <article class="message is-info mb-3">
              <div class="message-body">
                If you don't know where to go, you're probably looking for the above link!
              </div>
            </article>
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/admin/panel/"
              "Name" "Machine Administration"
              "Description" "The main system-administration dashboard for this machine"
            }}
          </li>
        </ul>
      </div>
    </section>

    <section class="section is-medium">
      <div class="container content is-max-desktop">
        <h2>Need help?</h2>

        <h3 class="is-size-5">Wrong machine?</h3>
        <p>
          This machine has machine name <code>{{$machineName}}</code>. If you're looking for a
          different machine:
        </p>
        <ul>
          <li>
            You should use your web browser to open that machine's machine-specific URL
            instead.
            {{if hasSuffix ".uc2" $hostname}}
              For example, the machine-specific URL for this machine is
              <a href="//{{$machineName}}.uc2">
                {{$machineName}}.uc2
                {{- /* make template ignore the line break */ -}}
              </a>.
              Alternatively,
              <a href="//openuc2-{{$machineName}}.local">
                openuc2-{{$machineName}}.local
                {{- /* make template ignore the line break */ -}}
              </a>
              might also work if your web browser supports mDNS.
            {{else if hasSuffix ".local" $hostname}}
              For example, the machine-specific URL for this machine is
              <a href="//openuc2-{{$machineName}}.local">
                openuc2-{{$machineName}}.local
                {{- /* make template ignore the line break */ -}}
              </a>.
              Alternatively,
              <a href="//{{$machineName}}.uc2">
                {{$machineName}}.uc2
                {{- /* make template ignore the line break */ -}}
              </a>
              might also work if you're connecting directly to your machine (i.e. to its
              Ethernet port or to a Wi-Fi network created by your machine) and your web browser
              isn't using Private DNS to look up domain names.
            {{end}}
          </li>
          <li>
            {{if hasSuffix ".uc2" $hostname}}
              You're probably trying to connect directly to your machine (i.e. to its Ethernet
              port or to a Wi-Fi network created by that machine). You
            {{else}}
              If you're trying to connect directly to a different machine (i.e. to its Ethernet
              port or to a Wi-Fi network created by that machine), you
            {{end}}
            might need to change your
            network configuration in order to connect to that machine's Wi-Fi network or
            Ethernet port, and you might also need to disconnect from
            <code>{{$machineName}}</code>'s Wi-Fi network or Ethernet port.
          </li>
        </ul>

        <h3 class="is-size-5">Documentation</h3>
        <ul>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/docs/"
              "OnlineHref" "https://docs.openuc2.com/"
              "Name" "openUC2 Documentation"
              "Description" "Official documentation for all openUC2 products and projects"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/docs/usage/pro/frame/tutorials/"
              "OnlineHref" "https://docs.openuc2.com/usage/pro/frame/tutorials/"
              "Name" "FRAME Tutorials"
              "Description" "Introductory tutorials for you to set up and use a FRAME machine"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/docs/usage/pro/frame/guides/"
              "OnlineHref" "https://docs.openuc2.com/usage/pro/frame/guides/"
              "Name" "FRAME How-To Guides"
              "Description" "Concise guides on deploying and operating FRAME machines for experienced users"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/docs/usage/disc/"
              "OnlineHref" "https://docs.openuc2.com/usage/disc/"
              "Name" "Discovery Line Usage"
              "Description" "Usage information for Discovery Line kits such as the CoreBox, HoloBox, Electronics Add-On, and Infinity Add-On"
            }}
          </li>
        </ul>

        <h3 class="is-size-5">Community</h3>
        <ul>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "OnlineHref" "https://openuc2.com/"
              "Name" "openUC2 Website"
              "Description" "Information about openUC2"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "OnlineHref" "https://shop.openuc2.com/"
              "Name" "openUC2 Shop"
              "Description" "The official shop for purchasing openUC2 products"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "OnlineHref" "https://openuc2.discourse.group/"
              "Name" "openUC2 Forum"
              "Description" "openUC2's Discourse forum for talking about openUC2 projects and getting help"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "OnlineHref" "https://github.com/openUC2"
              "Name" "openUC2 on GitHub"
              "Description" "openUC2's GitHub organization for development of the openUC2 optical toolbox"
            }}
          </li>
        </ul>
      </div>
    </section>

    <section class="section is-medium">
      <div class="container content is-max-desktop">
        <h2>For advanced users</h2>
        <h3 class="is-size-5">Browser applications</h3>
        <p>System administration and troubleshooting:</p>
        <ul>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/admin/panel/?mode=advanced"
              "Name" "Machine Administration (advanced mode)"
              "Description" "The main system-administration dashboard for this machine, with advanced information and settings"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/admin/cockpit/"
              "Name" "Cockpit"
              "Description" "An advanced general-purpose system administration dashboard for the computer embedded in this machine"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/admin/fs/files/home/pi"
              "Name" "User File Manager"
              "Description" "A file browsing and management interface for the entire filesystem of the computer embedded in this machine"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/admin/fs-su/"
              "Name" "System File Manager"
              "Description" "A file browsing and management interface for the entire filesystem of the computer embedded in this machine, with root/superuser access"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/admin/dozzle/"
              "Name" "Dozzle"
              "Description" "A dashboard for monitoring and troubleshooting the apps deployed on this machine"
            }}
          </li>
        </ul>
        <p>System recovery:</p>
        <ul>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" (print "//" $hostname ":9090/admin/cockpit/")
              "Name" "Cockpit (direct-access fallback)"
              "Description" "Fallback access to the Cockpit application, accessible even if the system's service proxy stops working"
            }}
          </li>
        </ul>

        <h3 class="is-size-5">Network APIs</h3>
        <ul>
          <li>
            <strong>ImSwitch HTTP API</a></strong>:
            Provides an interface for programmatic and remote control of this machine at
            <code>/imswitch/api</code>
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/imswitch/api/docs"
              "Name" "HTTP API docs"
              "Description" "Swagger docs for ImSwitch's HTTP API (also useful for testing API endpoints)"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/imswitch/openapi.json"
              "Name" "ImSwitch API spec"
              "Description" "OpenAPI specification for ImSwitch's HTTP API (useful for generating API clients)"
            }}
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/firmware/"
              "Name" "Firmware binaries"
              "Description" "Provides a way to download microcontroller firmware binaries via HTTP"
            }}
          </li>
        </ul>

        <h3 class="is-size-5">System infrastructure</h3>
        <p>Networking:</p>
        <ul>
          <li>
            <strong>SSH server</strong>:
            Provides SSH access to this machine at <code>{{$hostname}}:22</code>
          </li>
          <li>
            <strong>Ingress proxy</strong>:
            A Caddy reverse-proxy to make all browser applications and HTTP network APIs
            uniformly available at different paths at <code>{{$hostname}}</code> on ports 80 and
            443.
          </li>
          <li>
            <strong>Unprivileged ingress proxy</strong>:
            A Caddy reverse-proxy to make unprivileged browser applications and HTTP network APIs
            uniformly available at different paths at <code>{{$hostname}}</code> on port 8001,
            for public (unauthenticated) access.
          </li>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" (urlJoin (dict
                "path" .Meta.Path
                "query" .Meta.Form.Encode
              ))
              "Name" "Machine Portal"
              "Description" "A landing page as a portal to the browser applications, network APIs, and system infrastructure on this machine (this is what you're seeing right now)"
            }}
          </li>
        </ul>

        <p>App management:</p>
        <ul>
          <li>
            <strong>Forklift</strong>:
            A software deployment, customization, and configuration management system for more
            robust software updates even with extensive user customizations
          </li>
          <li>
            <strong>Docker Compose</strong>:
            A configuration system for deploying apps consisting of containerized programs
          </li>
          <li>
            <strong>Docker</strong>:
            A software packaging, distribution, and runtime system for deploying containerized
            programs
          </li>
        </ul>
      </div>
    </section>
  </main>
{{end}}
