{{$href := get . "Href"}}
{{$name := get . "Name"}}
{{$newTab := get . "NewTab"}}
{{$description := get . "Description"}}

<strong>
  {{- /* make template ignore the line break */ -}}
  <a href="{{$href}}">{{$name}}</a>
  {{- if $newTab}} <a href="{{$href}}" target="_blank">⤴️</a>{{end -}}
  {{- /* make template ignore the line break */ -}}
</strong>
{{- if $description -}}: {{$description}}{{- end}}
