{{$href := get . "Href"}}
{{$onlineHref := get . "OnlineHref"}}
{{$name := get . "Name"}}
{{$newTab := get . "NewTab"}}
{{$description := get . "Description"}}

<strong>
  {{- /* make template ignore the line break */ -}}
  <a href="{{$href}}" target="_blank">{{$name}} ⤴️</a>
  {{- if $onlineHref}} <a href="{{$onlineHref}}" target="_blank">🌐</a>{{end -}}
  {{- /* make template ignore the line break */ -}}
</strong>
{{- if $description -}}: {{$description}}{{- end}}
