[Unit]
Description=Reload any polkit rules added by the /etc overlay
DefaultDependencies=no
After=overlay-fs.target
Before=basic.target

[Service]
Type=exec
ExecStart=systemctl reload polkitd

[Install]
WantedBy=overlay-fs.target
