polkit.addRule(function(action, subject) {
  const YES = polkit.Result.YES;
  // Run `nmcli general permissions` for a full list of possible permissions
  const permissions = {
    "org.freedesktop.NetworkManager.checkpoint-rollback": YES,
    "org.freedesktop.NetworkManager.enable-disable-connectivity-check": YES,
    "org.freedesktop.NetworkManager.enable-disable-network": YES,
    "org.freedesktop.NetworkManager.enable-disable-wifi": YES,
    "org.freedesktop.NetworkManager.network-control": YES,
    // Note: the following rule isn't sufficient for allowing non-root users to reload NM
    // connections. See https://bugzilla.redhat.com/show_bug.cgi?id=1921082 for more details.
    "org.freedesktop.NetworkManager.reload": YES,
    "org.freedesktop.NetworkManager.settings.modify.own": YES,
    "org.freedesktop.NetworkManager.settings.modify.system": YES,
    "org.freedesktop.NetworkManager.wifi.scan": YES,
    "org.freedesktop.NetworkManager.wifi.share.open": YES,
    "org.freedesktop.NetworkManager.wifi.share.protected": YES,
  };

  if (subject.isInGroup("netdev")) {
    return permissions[action.id];
  }
});
