{{template "shared/base.layout.tmpl" .}}

{{define "title" -}}
  {{- $machineName := .Data.MachineName -}}
  Machine {{$machineName}}
{{- end}}
{{define "description"}}Machine portal{{end}}

{{define "content"}}
  {{$hostname := .Data.Hostname}}
  {{$port := .Data.Port}}
  {{$machineName := .Data.MachineName}}

  <main>
    <section class="section">
      <div class="container content is-max-desktop">
        <h1>Machine {{$machineName}}</h1>
        <p>
          Welcome! This is the limited-access home page for your machine with machine name
          <code>{{$machineName}}</code>.
        </p>

        <article class="message is-info two-card-width">
          <div class="message-body">
            This is a simplified view of the home page. For helpful information and advanced usage, open the
            <a href="{{urlJoin (dict
              "path" .Meta.Path
              "query" (.Meta.Form.WithInstead "mode" "advanced").Encode
            )}}">advanced view</a> of this page.
          </div>
        </article>
      </div>
    </section>

    <section class="section">
      <div class="container content is-max-desktop">
        <ul>
          <li>
            {{
              template "shared/link.partial.tmpl" dict
              "Href" "/imswitch/ui/index.html"
              "Name" "ImSwitch dashboard"
              "Description" "The standard user interface to operate the microscope"
            }}
          </li>
        </ul>
      </div>
    </section>
  </main>
{{end}}
