[Unit]
Description=Move files from /boot/firmware/init-root/as-%i into the root filesystem with ownership by user and group %i
ConditionPathExistsGlob=/boot/firmware/init-root/as-%i/*
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStartPre=rm -rf /run/init-root/as-%i/
ExecStartPre=mkdir -p /run/init-root/as-%i/
ExecStart=sh -c 'cp -r /boot/firmware/init-root/as-%i/* /run/init-root/as-%i/'
ExecStart=chown -R %i:%i /run/init-root/as-%i/
ExecStart=sh -c 'cp -r /run/init-root/as-%i/* /'
ExecStartPost=find /boot/firmware/init-root/as-%i/ -type f -exec rm {} +
ExecStartPost=systemctl daemon-reload
ExecStartPost=systemctl restart --no-block sockets.target timers.target multi-user.target default.target
ExecStop=rm -rf /run/init-root/as-%i/
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target
