[Unit]
Description=Extract init-root archives in /boot/firmware to /boot/firmware/init-root
ConditionPathExistsGlob=/boot/firmware/init-root-*.tar.gz
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=bash -c '/usr/libexec/boot-init-root-from-archives'
ExecStartPost=systemctl daemon-reload
ExecStartPost=systemctl restart --no-block sockets.target timers.target multi-user.target default.target
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target
