[Unit]
Description=Generate (with string interpolation) a Caddyfile template into a Caddyfile for HTTPS ingress proxying with Tailscale
Requires=tailscaled.service
After=tailscaled.service
Before=forklift-apply.service
ConditionFileIsExecutable=/usr/libexec/render-templated-config
ConditionFileNotEmpty=/etc/caddy-ingress/https/Caddyfile.template

[Service]
Type=oneshot
ExecStartPre=mkdir -p /run/caddy-ingress/https
ExecStartPre=touch /run/caddy-ingress/https/Caddyfile
ExecStart=sh -c "\
  cat /etc/caddy-ingress/https/Caddyfile.template | \
    /usr/libexec/render-templated-config \
      >/run/caddy-ingress/https/Caddyfile.new; \
  if ! diff /run/caddy-ingress/https/Caddyfile /run/caddy-ingress/https/Caddyfile.new; then \
    mv /run/caddy-ingress/https/Caddyfile.new /run/caddy-ingress/https/Caddyfile; \
  fi \
"
# TODO: if the new Caddyfile is different from the old one or if the old one doesn't exist, do an atomic file move

[Install]
WantedBy=forklift-apply.service
