[Unit]
Description=Update Caddyfile for HTTPS ingress proxying with Tailscale

[Timer]
Unit=generate-caddy-ingress-https-config.service
OnBootSec=0
OnActiveSec=30

[Install]
WantedBy=multi-user.target
