[Unit]
Description=Update Caddyfile for HTTPS ingress proxying with Tailscale

[Timer]
Unit=generate-caddy-ingress-https-config.service
OnActiveSec=0
OnUnitActiveSec=30

[Install]
WantedBy=multi-user.target
