[Unit]
Description=Set the tailscale client's auth key from /run/tailscale-auth-key
ConditionPathExists=/boot/firmware/cmdline.txt
After=boot-init-root.service

[Service]
Type=oneshot
ExecStart=sh -c 'REGDOMAIN="$(sed -n \'s~.*cfg80211.ieee80211_regdom=\(\S*\).*~\1~p\' "$CMDLINE")" iw reg set "$REGDOMAIN"'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
